*~
*.o
*.a
*.so
*#*
*core
*.log
*.swp
*.rule
*.rules
*.depend
*.Dstore
*.cache
*.m4
*.in
*.deps
*.status
*.out
*.dot
*.orig
*_history

_PROJECT_
build-aux
build/
bin/
lib/
doc/html
doc/latex
tags
Makefile
configure
.git
.syntastic_c_config
